<!DOCTYPE html>
<html>
    <head>

    </head>
    <body>



        <%- include("partials/header", { title: "Edit Article" }) %>

            <h2>Edit Article</h2>

            <form action="/edit/article/<%= article._id %>" method="POST" class="form">

                <label>Title</label>
                <input type="text" name="title" value="<%= article.title %>">
                <% if (errors.title) { %>
                    <p class="error"><%= errors.title %></p>
                <% } %>

                <label>Article</label>
                <textarea name="body"><%= article.body %></textarea>
                <% if (errors.body) { %>
                    <p class="error"><%= errors.body %></p>
                <% } %>

                <button type="submit">Save changes</button>
            </form>

        <%- include("partials/footer") %>

    </body>
</html>